@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf)
    format("truetype");
}

html,
body {
  height: 100%;
}

body {
  background: #eae5f0;
  background: radial-gradient(ellipse at center, #d9d8da 0%, #e8dbff 100%);
}

/* Envelope styles */
.envelope {
  background: #ca336d;
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 0 #3a3d3c;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1;
}

.envelope:before,
.envelope:after {
  content: "";
  position: absolute;
  bottom: 0;
}

.envelope:before {
  right: 0;
  border-bottom: 0px solid transparent;
  border-top: 50px solid transparent;
  border-right: 100px solid #dc447f;
}

.envelope:after {
  left: 0;
  border-bottom: 0px solid transparent;
  border-top: 50px solid transparent;
  border-left: 100px solid #ea4c89;
}

/* Adjustments for the opening flap */
.envelope.open:before {
  transform: rotateX(180deg);
}

.message-card {
  display: none; /* Start hidden */
  position: absolute;
  width: 180px; /* Set the width of the message card */
  height: 120px; /* Set the height of the message card */
  bottom: 0; /* Align with the bottom of the envelope */
  left: 50%;
  transform: translate(-50%, 100%); /* Start from inside the envelope */
  background: #f2f2f2;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  z-index: 3;
  border-radius: 6px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Style for the text inside the message card */
.message-card h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #ca336d;
}

.envelope.open .message-card {
  display: flex;
}

/* Balloon styles and animations */
.balloon {
  width: 50px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.9s ease-out, opacity 0.2s ease-in;
  animation: floatBalloons 2s infinite alternate ease-in-out;
}

/* Balloon color gradients */
.balloon:nth-child(1) {
  background: linear-gradient(145deg, #ff89b5, #ff6381);
}
.balloon:nth-child(2) {
  background: linear-gradient(145deg, #89cff0, #6394ff);
}
.balloon:nth-child(3) {
  background: linear-gradient(145deg, #99ff99, #63ff63);
}
.balloon:nth-child(4) {
  background: linear-gradient(145deg, #ffff99, #ffff63);
}
.balloon:nth-child(5) {
  background: linear-gradient(145deg, #ff9999, #ff6363);
}

@keyframes floatBalloons {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -60%) scale(1.05);
    opacity: 0.85;
  }
}

/* Face elements */
.face .eye {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 40%;
  left: 22%;
  background: #000;
  border-radius: 50%;
}

.face .eye:after {
  content: "";
  left: 35px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  position: absolute;
}

.face .mouth {
  position: absolute;
  top: 45%;
  left: 43%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.face .mouth.happy {
  border: 2px solid;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
}

/* String styles */
.string {
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 1px;
  height: 50px;
  background-color: #000;
  transform: translateX(-50%);
}

.birthday-card {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cake button {
  display: block;
  margin: 10px auto;
}

.cake {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
}
/* ============================================== BASE
*/
.cake:after {
  background: #ebe3e1;
  border-radius: 100px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
}
/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 16.66666667px;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}
/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -3.33333333px;
  width: 6.66666667px;
  height: 12.5px;
}
.fuego:nth-child(1) {
  -webkit-animation: fuego 2s infinite;
  animation: fuego 2s infinite;
}
.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s infinite;
  animation: fuego 1.5s infinite;
}
.fuego:nth-child(3) {
  -webkit-animation: fuego 1s infinite;
  animation: fuego 1s infinite;
}
.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s infinite;
  animation: fuego 0.5s infinite;
}
.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s infinite;
  animation: fuego 0.2s infinite;
}
/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    transform: translateY(-20px) scale(0);
  }
  100% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
}
@keyframes fuego {
  0% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    transform: translateY(-20px) scale(0);
  }
  100% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
}
/* ============================================== Frosting
*/
.cobertura {
  background: #ece7e3;
  border-radius: 50px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -27.77777778px;
  margin-top: -5px;
  width: 55.55555556px;
  height: 12.5px;
  z-index: 10;
}
.cobertura:after,
.cobertura:before {
  background: #ece7e3;
  border-radius: 100px;
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
}
.cobertura:after {
  top: 6.66666667px;
  right: 14.28571429px;
}
.cobertura:before {
  top: 10px;
  right: 9.09090909px;
}
/* ============================================== BIZCOCHO
*/
.bizcocho {
  background: #6d3826;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 33.33333333px;
}
.bizcocho:after,
.bizcocho:before {
  background: rgba(236, 231, 227, 0.6);
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
}
.bizcocho:after {
  top: 30%;
  left: 0;
}
.bizcocho:before {
  top: 60%;
  left: 0;
}
/* ============================================== TEXT
*/
h1,
p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  color: #6c5299;
  font-size: 1em;
  margin-top: 6.8em;
}
p {
  color: rgba(236, 231, 227, 0.6);
  font-size: 0.8em;
  line-height: 2em;
}
